<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Show Coach details</h1>
        <p>Usernmae: <%= currentUser.username %></p>
        <p>Name: <%= currentUser.details.name %></p>
        <p>Description: <%= currentUser.details.description %></p>
        <p>GameExperience: <%= currentUser.details.gameExperience %></p>
        <p>price: <%= currentUser.details.price %></p>
        <a href="/coach/myDetails/<%= currentUser.details._id %>/edit">edit</a>
 
</body>
</html>